.container-fluid {
  background-image: url("img/dice_wallpaper.jpg");
  background-position: center;
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
